<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Details Page</title>
</head>
<body>
    <ul>
        <li><h2> {{superheroes.name}} </h2>
        <h3> Alter ego: {{superheroes.alter_ego}} </h3>
        <h3> Primary Ability: {{superheroes.primary_ability}} </h3>
        <h3> Secondary Ability: {{superheroes.secondary_ability}} </h3>
        <h3> Catchphrase: "{{superheroes.catchphrase}}" </h3>
        </li>
    </ul>
    <a href="{% url 'superheroes:edit' superheroes.id %}">Edit info</a>
</body>
</html>
